.all{
}

.inputs input{
  margin-top: 50px;
    margin-left: 150px;
   background-color:         #120722
   ;
   color: white;
   border: 200648 1px solid;
   border-radius: 10px;
   font-size:  16px;
   letter-spacing: 0.3ch;
   padding: 7px;
}

.done{
  text-decoration: line-through;

}
.tasks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 70px;
    margin-top: 30px;
    border-radius: 10px;
padding: 2px 15px 1px 15px;
    border:white 1px solid;
}
.container{
    margin-top: 150px;
}
span{
    margin-left: 15px;
    cursor: pointer;
}
button {
    padding: 7px;
    margin-top: 50px !important;

    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }